body, h1, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; 
    color: black;
  }
  
  header {
    height: 800px;
    width: 100%;
    background-image: url('link'); 
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  button {
    padding: 12px 24px;
    margin: 5px;
    background-color: #ee4266;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #780a22;
    transform: scale(1.05);
  }

  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px;
  }
  
  div {
    flex: 1;
    margin: 10px;
    max-width: 30%;
    transition: transform 0.3s ease;
  }
  
  div:hover {
    transform: scale(1.1);
  }

  img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease;
  }
  
  .img:hover {
    transform: scale(1.05);
  }
  